{% extends 'blogapp/base.html' %}

{% block body_block %}


<div class="jumbotron">

    <h1> Please login below with required credentials! </h1>

    {% if form.errors %}
        <h3> Your username and password didnt match! </h3>
    {% endif %}

    <form action={% url 'login'%} method="POST">
        {% csrf_token %}
        {% form.as_p %}

        <input type='submit' class="btn btn-primary" value='Login'>
        <input type='hidden' name='next' value='{{next}}'>

    </form>

</div>
{% endblock %}